In [10]:
import graphvis

ModuleNotFoundError: No module named 'graphvis'

In [11]:
import pandas as pd
data = pd.read_csv("冠心病.csv")

In [12]:
data.head()

,FO,I,F1,F2,F3,F4,B1,B2,B3,B4,CD
0,148.004,71.000,1026.561,1585.218,2920.418,3946.309,138.818,180.025,1061.236,740.416,0
1,130.715,65.407,925.864,1727.784,2825.293,4070.821,191.351,133.566,126.485,564.661,1
2,358.595,46.197,897.688,1737.664,3025.684,4095.229,458.881,256.046,484.461,602.989,2
3,244.948,68.042,1081.502,1676.727,2995.630,4140.143,145.002,145.345,809.150,378.717,0
4,199.676,64.189,900.887,1630.035,2998.414,3856.071,183.930,114.576,508.882,341.951,1

In [13]:
data.CD.value_counts()

2    9
1    9
0    9
Name: CD, dtype: int64

In [14]:
data.describe()

,FO,I,F1,F2,F3,F4,B1,B2,B3,B4,CD
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.00000
mean,170.194852,68.434222,946.819148,1635.067407,2883.834704,3893.181815,279.674333,268.450741,551.727630,513.271370,1.00000
std,65.752571,8.761974,128.648445,169.087944,180.985875,220.509958,249.899708,216.990771,385.671809,612.042338,0.83205
min,85.074000,46.197000,734.216000,1314.782000,2594.769000,3422.091000,64.557000,73.962000,104.309000,55.487000,0.00000
25%,122.060000,63.275500,862.945500,1543.374500,2759.246000,3768.682500,127.040000,113.053000,261.835500,238.400500,0.00000
50%,156.145000,68.042000,906.736000,1617.420000,2859.306000,3879.876000,183.930000,163.583000,448.677000,341.951000,1.00000
75%,202.613000,74.182500,1038.844000,1728.584500,2997.022000,4031.774000,356.233500,384.647000,739.015500,638.844000,2.00000
max,358.595000,89.758000,1203.214000,2011.542000,3365.506000,4397.294000,989.957000,837.431000,1443.122000,3359.796000,2.00000

In [2]:
feature = data[['F1', 'F2', 'F3', 'B1']]
target = data[['CD']]

NameError: name 'data' is not defined

In [1]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model = model.fit(feature, target)

NameError: name 'feature' is not defined

In [6]:
target?

Object `target` not found.